<h1>Confirm a new booking</h1>

<ul>
  <li>Plant for booking: <%= @booking.plant.name %></li>
  <li>Plant owner <%= @booking.plant.user.first_name %></li>
  <li>From: <%= @booking.start_date.strftime("%d of %B, %Y") %></li>
  <li>Until: <%= @booking.end_date.strftime("%d of %B, %Y") %></li>
  <li>Total price: <%= @booking.total_price %>$</li>
</ul>

<%= simple_form_for @booking do |f| %>
  <%= f.input :start_date, as: :hidden %>
  <%= f.input :end_date, as: :hidden %>
  <%= f.input :status, as: :hidden %>
  <%= f.input :plant_id, as: :hidden %>
  <%= f.input :total_price, as: :hidden %>
  <%= f.input :user_id, as: :hidden %>
  <%= f.submit "Book", class: "btn btn-primary" %>
<% end %>
