<!-- Back link -->
<%= link_to "Back to My Account", user_path(@booking.user)  %>
<!-- Title section row -->
<div class="row text-center">
  <div class="col-12">
    <h1>Plant Booking</h1>
  </div>
</div>

<div class="row h-100 mt-4 mb-4">
  <div class="col-md-6">
      <div class="card border-0  brand-borders text-white">
        <% if @booking.plant.photo.attached? %>
          <%= cl_image_tag @booking.plant.photo.key, class: "img-fluid brand-borders" %>
        <% else %>
          <%= image_tag asset_path("place-holder-plant.jpg"), class: " card-img-top img-fluid brand-borders" %>
        <% end %>
      </div>
  </div>
  <div class="col-md-6 flex-column">
    <% case @booking.status %>
      <% when "Approved" %>
      <div class="card border-success mb-3">
        <div class="card-body text-success">
          <h5 class="card-title">Booking Confirmed ✅</h5>
          <p class="card-text">Nice! <%= @booking.plant.user.first_name %> has approved your booking.</p>
        </div>
      </div>
      <% when "Pending" %>
      <div class="card border-warning mb-3">
        <div class="card-body text-warning">
          <h5 class="card-title">Booking Pending Confirmation 🌱</h5>
          <p class="card-text">Hello! Waiting for <%= @booking.plant.user.first_name %> to approved your booking.</p>
        </div>
      </div>
      <% when "Cancelled" %>
      <div class="card border-danger mb-3">
        <div class="card-body text-danger">
          <h5 class="card-title">Booking Cancelled ⚠️</h5>
          <p class="card-text">Oh no! <%= @booking.plant.user.first_name %> has cancelled your booking.</p>
        </div>
      </div>
    <% end %>
    <div class="card p-4">
      <h5 class="card-title">You have <%= @booking.plant.name %> Booked...</h5>
      <p class="card-text"><strong>From:</strong> <%= @booking.start_date.strftime("%d of %B, %Y") %></p>
      <p class="card-text"><strong>Until:</strong> <%= @booking.end_date.strftime("%d of %B, %Y") %></p>
    </div>
    <!-- This shouldnt be eiditable if booking is confirmed -->
    <div class="mt-4">
      <% unless @booking.status == "Approved" %>
        <%=  link_to "Edit booking", edit_booking_path(@booking), class: "btn btn-primary text-white" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <h4>Your Review:</h4>
    <hr>
  </div>
</div>


<div class="row d-flex justify-content-center mt-2">
  <div class="col-12">
    <% if @booking.status == "Pending" %>
      <p>Please wait for <%= @booking.plant.user.first_name %> to approve your booking...</p>
    <% else %>
      <% if @booking.review %>
        <div class="row">
          <div class="col-md-6">
            <div class="card border-0">
              <span>
                <% @booking.review.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% remaining_stars = (5 - @booking.review.rating) %>
                <% remaining_stars.times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </span>
                <p> <%= @booking.review.content %></p>
              </div>
          </div>
          <div class="col-md-6 text-right">
            <%= link_to "Edit", edit_booking_review_path(@booking), class: "btn btn-primary mr-3 text-white" %>
            <!-- Currently doesnt make sense from the link controller -->
            <%= link_to "Delete", review_path(@booking.review), method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Add review", new_booking_review_path(@booking), class: "btn btn-warning" %>
      <% end %>
    <% end %>
  </div>
</div>


