<h1>Plant Booking</h1>
<p>You have <%= @booking.plant.name %> Booked...</p>
<p>From: <%= @booking.start_date.strftime("%d of %B, %Y") %></p>
<p>Until: <%= @booking.end_date.strftime("%d of %B, %Y") %></p>
<p>Booking Status: <%= @booking.status %></p>
<!-- This shouldnt be eiditable if booking is confirmed -->
<% unless @booking.status == "Approved" %>
  <%=  link_to "Edit booking", edit_booking_path(@booking) %>
<% end %>
<br>
<% if @booking.review %>
  <h4>Your Review</h4>
  <p> <%= @booking.review.rating %> Stars</p>
  <p> <%= @booking.review.content %> Stars</p>
  <%= link_to "Edit review", edit_booking_review_path(@booking) %>
  <!-- Currently doesnt make sense from the link controller -->
  <%= link_to 'Delete review', review_path(@booking.review), method: :delete %>
<% else %>
  <%= link_to "Add review", new_booking_review_path(@booking) %>
<% end %>
