<div class="row mt-4 mb-4">
  <div class="col-12">
    <p>Hello! 👋</p>
    <h1><%= @user.first_name %></h1>
  </div>
</div>

<!-- user details tabbed dashboard -->
<div class="row">
  <div class="col-md-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">My Plants</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">My Bookings</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">My Profile</a>
    </div>
  </div>

  <div class="col-md-9">
    <div class="tab-content" id="v-pills-tabContent">
      <!-- 1. Plant details -->
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <h3>I have <%= @plants.count %> Plant(s)</h3>
        <hr>
        <div class="user-dashboard-view w-100">
          <% @plants.each do |plant| %>
            <div class="card mb-3 border-0">
              <div class="row no-gutters">
                <!-- Plant thumbnail -->
                <div class="col-md-2">
                  <%= render partial: 'shared/plants/plant_image', collection: [plant], as: :plant %>
                </div>
                <div class="col-md-10">
                  <!-- Plant info card -->
                  <%= render partial: 'shared/users/plant_booking_card', collection: [plant], as: :plant%>
                </div>
              </div>
            </div>
            <hr>
          <%end %>
        </div>
      </div>
      <!-- 2. My booking details -->
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h3>I have <%= @bookings.count %> Booking(s)</h3>
        <hr>
        <div class="user-dashboard-view w-100">
          <% @bookings.each do |booking| %>
            <div class="card mb-3 border-0">
              <div class="row no-gutters">
                <!-- Booked plant thumbnail -->
                <div class="col-md-2">
                  <%= render partial: 'shared/plants/plant_image', collection: [booking.plant], as: :plant %>
                </div>
                <div class="col-md-10">
                  <!-- Booking info card -->
                  <%= render partial: 'shared/users/bookings_card', collection: [booking], as: :booking%>
                </div>
              </div>
            </div>
            <hr>
          <%end %>
        </div>
      </div>
      <!-- 3. User Details -->
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <h3>Details about me</h3>
        <hr>
        <!-- User details -->
        <div class="row d-flex align-items-center">
          <div class="col-md-3 d-flex justify-content-center text-right">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, height: 100, class: "avatar-128 rounded-circle" %>
            <% end %>
          </div>
          <div class="col-md-9">
            <ul class="list-group">
              <li class="list-group-item">Name: <%= "#{@user.first_name} #{@user.last_name}" %></li>
              <li class="list-group-item">Bio: <%= @user.details %> </li>
              <li class="list-group-item">Email: <%= @user.email %> </li>
            </ul>
          </div>
        </div>
        <!-- Edit profile button -->
        <div class="row">
          <div class="col-md-12">
            <div class="text-right mt-4">
              <p class="btn btn-primary"><%= link_to "Edit Profile", edit_user_registration_path(@user), class: "text-white" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



