<div class="row ">

  <div class="col-md-6 p-5">


    <h2>Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="col-12 btn btn-primary form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "text-white" %>
      </div>
    <% end %>

<!-- Space between button and devise Sign up / Forgot Password Links -->
    <br>
    <%= render "devise/shared/links" %>

  </div>


  <div class="col-md-6 grey-obloid p-5">
    <div class="banner-image p-5">
      <%= image_tag asset_path("hero-plant.png"), class: "banner-image" %>
    </div>
  </div>

</div>

