<!-- Dynamically rendered Row changes when a user is signed in -->
<% if user_signed_in? %>
  <div class="row">
    <%= render 'shared/plants/plant_search_bar' %>
  </div>
<% else %>
  <% if params[:query].present? %>
    <div class="row">
      <%= render 'shared/plants/plant_search_bar' %>
    </div>
  <% else %>
    <%= render 'shared/plants/plant_index_herobanner' %>
  <% end %>
<% end %>

<!-- Row containing all the plants -->
<div class="row">
  <%= render 'shared/plants/plant_index_card' %>
</div>

<!-- Plan Show map section -->

<!-- Invisible form for user geolocation -->
<div class="col-12">
  <%= form_tag plants_path, method: :get do %>
    <button id="geoform">Find plants close to you</button>
    <%= hidden_field_tag :queryCurrentLocation, params[:queryCurrentLocation], id: "current_location" %>
    <div style="display: none;">
      <%= submit_tag "", id: "geosubmit"%>
    </div>
  <% end %>
</div>

<div
id="map"
style="width: 100%;
height: 600px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
