show.html.erb

<h1>Look at this <%= @plant.name %></h1>

<ul>
  <li><%= @plant.description %></li>
  <li><%= @plant.location %></li>
  <li><%= @plant.price %></li>
  <li><%= @plant.category %></li>
  <li><%= @plant.user %></li>
</ul>

<h3>Plant reviews</h3>
<% @bookings.each do |booking| %>
  <% if booking.review %>
    <p><%= booking.review.rating %> Stars </p>
    <%= booking.review.content %>
  <% else %>
    <p>Please add a review...</p>
  <% end %>
<% end %>

<%= link_to "Update that plant", edit_plant_path(@plant) %>
