<h1><%= @plant.name %></h1>
<div class="row h-100">
  <div class="col-md-6">
    <div class="p-4">
      <div class="card border-0  brand-borders text-white">
        <%#= image_tag asset_path('place-holder-plant.jpg'), class: "img-fluid" %>
        <%= render 'shared/plants/main_plant_image' %>
      </div>
        <%= render 'shared/plants/plant_description_card' %>
        <h3>Plant reviews</h3>
      <!-- Card containing review of a booking -->
      <% plant_reviews = [] %>
      <% @plant.bookings.each do |booking| %>
        <% if booking.review.present? %>
          <% plant_reviews << booking.review %>
        <% end %>
      <% end %>
      <% if plant_reviews.empty? %>
        This plant had no reviews yet... 🌱
      <% else %>
        <%= render 'shared/reviews/review_cards' %>
      <% end %>
      <!-- Plan Show map section -->
      <div class="mt-4">
        <h3>Plant Location</h3>
        <div class="mt-4 brand-borders"
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="booking-card">
      <% if policy(@plant).edit? %>
        <div class="text-right">
          <p class="btn btn-primary"><%= link_to "Edit Plant", edit_plant_path(@plant), class: "text-white" %></p>
          <p class="btn btn-danger text-white"><%= link_to "Delete Plant", plant_path(@plant), method: :delete, class: "text-white delete" %></p>
        </div>
      <% end %>
      <div class="card mt-4 p-4 shadow-lg border-0 brand-borders">
        <% if policy(@plant).is_plant_owner? %>
          <p>This plant has <%= @plant.bookings.count %> booking(s)</p>
          <%= link_to "Show my bookings", user_path(@plant.user) %>
        <% else %>
          <div class="form-wrapper">
            <h5 class="card-title">Book this plant:</h5>
            <% booking = Booking.new %>
            <%= simple_form_for booking, url: new_plant_booking_path(@plant), method: "get" do |f| %>
              <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker" } %>
              <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker" } %>
              <%= f.button :submit, "Book", class: "btn btn-primary text-white" %>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
