<!-- Will show custom div if there are no plants in the database -->
<% if @plants.empty? %>
  <!-- Full column with empty message -->
  <div class="col-12 vh-100">
    <h3>No cocktails here... 🌱</h3>
    <%= link_to 'Add A Plant', new_plant_path %>
  </div>
<% else %>
  <!-- Rendering a card for each plant -->
  <% @plants.each do |plant| %>
    <!-- Card will be contained in a 4 columns on large screens -->
    <div class="col-lg-4 mb-4">
      <div class="card" style="width: auto;">
        <!-- Card body section containing the plant name, description and a button to show cocktail -->
          <h5 class="card-title"> <%= link_to plant.name, plant_path(plant) %> </h5>
          <p class="card-text"> Description: <%= plant.description %> </p>
          <p class="card-text"> Price: <%= plant.price %> </p>
          <p class="card-text"> Location: <%= plant.location %> </p>
          <p class="card-text"> Category: <%= plant.category %> </p>
      </div>
    </div>
  <% end %>
<% end %>
